@charset "UTF-8";

@-ms-viewport { width: device-width; }

/*
Dependencies
========================================================================== */

@import "partials/base/mixins";
@import "resetv2";
@import "partials/all";

/*
Base Style
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@include mq($screen-sm) {
	*:focus { outline: none !important; }
}

html {
	min-height: 100%;
	box-sizing: border-box;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'Montserrat', sans-serif;
}

* { box-sizing: inherit; }