/* ==========================================================================
   Breadcrumb
   ========================================================================== */

.bread-crumb {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;

	ul {
		li {
			@include font-size(1.2);
			margin-right: 5px;
			line-height: 20px;
			font-weight: normal;
			list-style-type: none;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;

			&:after {
				@include font-size(1.2);
				content: '>';
				display: inline-block;
				font-weight: bolder;
				padding-left: 5px;
				vertical-align: top;
				text-transform: uppercase;
			}
			
			a {
				@include font-size(1.2);
				color: #333;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					text-decoration: underline;
				}
			}

			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
}

.breadcrumb {
	overflow: hidden;
	padding: 15px 0 0;
}

body.dep-cat-bus {
	.breadcrumb {
		overflow: hidden;
		padding: 10px 0 0;
		margin-bottom: 20px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}