/* ========================================================================
	Menu Persistente
	======================================================================= */

header {
	&.sticky {
		top: 0;
		left: 0;
		width: 100%;
		height: 5rem;
		position: fixed;
		z-index: 999999999;
		background-color: #000;
		box-shadow: 0 0 50px rgba(#000, .4);
		display: flex;
		align-items: center;
		justify-content: center;
		.main-header {
			flex: 1;
			box-shadow: none;
			transition: background .9s ease;
			transform-origin: center left;
			position: relative;
			.menu-header {
				@extend .transition;
				position: initial;
				ul {
					li.has-sub {
						&:first-child {
							ul {
								display: flex;
								justify-content: flex-start;
							}
						}
						&:nth-child(6) {
							ul {
								display: flex;
								justify-content: flex-end;
								padding-right: 77px;
							}
						}
						.submenu {
							top: 71px;
							width: 100%;
							z-index: 1;
							box-shadow: 0 0 3px rgba(0, 0, 0, 0.702);
							nav {
								margin: 0 auto;
							}
							li {
								border-bottom: 1px solid transparent;
							}
							li:hover {
								border-bottom: 1px solid black;
							}
						}
					}
					li.has-sub:hover {
						.submenu {
							width: 100%;
							top: 71px;
							transition: none;
							z-index: 1;
						}
					}
				}
			}
			.logo {
				z-index: 1;
				height: 63px;
				position: relative;
				margin: -6px 0 10px -20px;
			}
			a {
				border: none !important;
			}
			li.has-sub:hover {
				@extend .transition;
				background-color: #000;
				a.first-menu {
					@extend .transition;
					border-bottom: none !important;
					background-color: #000 !important;
				}
				.submenu {
					@extend .transition;
					display: none;
				}
			}
		}
		.top-box {
			width: 100%;
			position: inherit;
			z-index: 1;
			background: transparent;
			.account-cart {
				width: auto;
				position: absolute;
				right: 0;
				top: 16px;
			}
			.social-menu {
				height: 0;
				opacity: 0;
				padding: 0;
				display: none;
			}
		}
		.container {
			position: initial;
			.row {
				@extend .transition;
				padding: 20px 0;
				overflow: hidden;
				margin-left: 0 !important;
				position: inherit !important;
			}
		}
		.searchbox {
			padding: 0;
			margin: auto 0;
			z-index: 99999;
			.busca {
				input.fulltext-search-box {
					color: #000;
					background: #fff;
				}
			}
		}
		.tipbar {
			@extend .transition;
			display: none;
		}
		.main-header {
			@extend .transition;
			.logo {
				svg {
					@extend .transition;
					fill: #fff;
					width: 150px;
				}
			}
		}
		.menu-header {
			li {
				a.first-menu {
					@extend .transition;
					color: #fff;
					padding: 34px 8px;
				}
			}
		}
	}
}